[submodule "deps/libkeyfinder"]
	path = deps/libkeyfinder
	url = https://github.com/mixxxdj/libkeyfinder.git
[submodule "deps/websocketpp"]
	path = deps/websocketpp
	url = https://github.com/zfogg/websocketpp.git
[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "deps/RxCpp"]
	path = deps/RxCpp
	url = https://github.com/zfogg/RxCpp.git
[submodule "deps/uuid"]
	path = deps/uuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
