[submodule "deps/libkeyfinder"]
	path = deps/libkeyfinder
	url = https://github.com/mixxxdj/libkeyfinder.git
[submodule "deps/websocketpp"]
	path = deps/websocketpp
	url = git@github.com:zfogg/websocketpp.git
[submodule "deps/asio"]
	path = deps/asio
	url = git@github.com:chriskohlhoff/asio.git
[submodule "deps/RxCpp"]
	path = deps/RxCpp
	url = git@github.com:zfogg/RxCpp.git
[submodule "deps/uuid"]
	path = deps/uuid
	url = https://github.com/mariusbancila/stduuid.git
