apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: http://loki:3100
    basicAuth: false
    isDefault: false
    jsonData:
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: 'trace_id[="]([0-9a-f]+)'
          name: TraceID
          url: '$${__value.raw}'
          # Alternative regex for different log formats
        - datasourceUid: tempo
          matcherRegex: '"trace_id":"([0-9a-f]+)"'
          name: TraceID
          url: '$${__value.raw}'
    editable: true
