apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    access: proxy
    orgId: 1
    url: http://tempo:3200
    basicAuth: false
    isDefault: false
    jsonData:
      httpMethod: GET
      tracesToLogs:
        datasourceUid: loki
        tags: ['trace_id']
        mappedTags:
          - key: 'trace_id'
            value: 'trace_id'
        spanStartTimeShift: '0s'
        spanEndTimeShift: '0s'
        filterByTraceID: true
        filterBySpanID: false
      search:
        hide: false
      nodeGraph:
        enabled: true
      lokiSearch:
        datasourceUid: loki
    editable: true
